/* Write your CSS code here */
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.about {
  height: 100px;
  width: 100px;
}
.about-heading {
  color: #6d396b;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 30px;
}
.para {
  color: #12022f;
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 20px;
}
